<%
  translation_locales = Typus::Translate::Configuration.config["locales"]
  
  translation_locales.each do |locale, name|
    @item.translations.find_or_initialize_by_locale(locale)
  end if @item.translations.empty?  
%>

<% content_for :stylesheets do %>

  <!-- translate css -->
  <%= stylesheet_link_tag "/vendor/typus/translate/translate.css" %>

<% end %>

<% content_for :javascripts do %>

  <!-- translate js -->
  <%= javascript_include_tag  "/vendor/typus/translate/translate.js", 
                              "/vendor/typus/translate/jquery.cookie.js" %>  
  <script>
    $(document).ready(function(){      
      $('form.resource').translate();          
    });      
  </script>

<% end %>

<li>
  <div id="translate-tabs">
    <% translation_locales.each do |locale, name| %>
      <a href="#lang-<%= locale %>" class="lang-<%= locale %>"><%= name %></a>
    <% end %>
  </div>  
</li>

<%= form.fields_for :translations do |t| %>

  <%= t.hidden_field :locale %>        
  
  <% @item.translated_attribute_names.each do |a| %>
    <li class="<%= "translation lang-#{t.object.locale}" %>">
      <%= t.label :locale, "#{a.capitalize} (#{t.object.locale})"   %>
      <%= @item.translations.columns_hash[a.to_s].type == :string ?  t.text_field(a) : t.text_area(a) %>        
    </li>
  <% end %>

<% end %>